{% extends "library/base.html" %}
{% load static %}

{% block page-title %}Add{% endblock %}

{% block primary-nav %}
    <ul id="primary-nav">
        <li><a href="{% url "library:home" %}">Home</a></li>
        <li><a href="{% url "library:item-list" %}">Items</a></li>
        <li><a href="{% url "library:item-add" %}">Add Item</a></li>
        <li><a href="{% url "library:account" %}" class="selected">Account</a></li>
    </ul><!-- #primary-nav -->
{% endblock %}

<!-- If there is a user logged in, open their account page. otherwise open registration -->
{% block side-tabs %}
    <div id="side-tabs">
        <ul id="full-list">
            <li><a href="{% url "library:item-list" %}">Books</a></li>
            <li><a href="{% url "library:item-list" %}">Games</a></li>
            <li><a href="{% url "library:item-list" %}">Movies</a></li>
            <li><a href="{% url "library:item-list" %}">Tools</a></li>
            <li><a href="{% url "library:item-list" %}">TV Shows</a></li>
        </ul>
    </div><!-- #side-tabs -->
{% endblock %}

{% block content %}
    <div id="add-user">
        <h2>Editing {{ user.username }}'s Lending Library Profile</h2>
        <form id="login-box" action="{% url "users:profile-edit" user.username %}" method="post">
            <div class="user-info">
                <label for="register-first-name">First Name</label>
                <input id="register-first-name" type="text" name="first-name" placeholder="{{ user.first_name }}">
            </div>
            <div class="user-info">
                <label for="register-last-name">Last Name</label>
                <input id="register-last-name" type="text" name="last-name" placeholder="{{ user.last_name }}">
            </div>
            <div class="user-info">
                <label for="register-location">Location</label>
                <input id="register-location" type="text" name="location" placeholder="{{ user.details.location }}">
            </div>
            <div class="user-info">
                <label for="register-email">Email</label>
                <input id="register-email" type="text" name="email" placeholder="{{ user.email }}">
            </div>
            <div class="user-info">
                <label for="register-password">Password</label>
                <input id="register-password" type="password" name="password" placeholder="Password">
            </div>
            {% if request.session.role == "admin" %}
                <div class="user-info">
                    <label for="register-role">Role</label>
                    <select name="role" id="register-role">
                        <option value="regular">regular</option>
                        <option value="admin">admin</option>
                    </select>
                </div>
            {% endif %}
            <input id="register-button" type="submit" name="submit" value="Save Edits">
            <input id="register-button" type="submit" name="submit" value="Cancel Edits">
            {% csrf_token %}
        </form>
    </div>
{% endblock %}

{% block right-content %}
    <div id="right-content">
        <!-- Adjust width to center content -->
    </div>
{% endblock %}